:root {
  --color-green: rgb(58, 128, 57);
  --color-red: #f44336;

  --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.7);
  --mdc-outlined-button-label-text-color: white;
}

hr {
  margin: 2rem 0;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}
.m-0 {
  margin: 0;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.p-4 {
  padding: 1rem;
}

.font-base {
  font-weight: normal;
}
